{% extends 'student.html.twig' %}

{% block body_id 'student_default' %}

{% block body %}

<div class="sf_content">
    <div class="my_content">

        <div class="left_bar">
            <div class="remove-zars">
                <a href="{{ path('tutor_upgrade') }}" title="Remove ads" class="remove-zars{{app.request.locale}}"></a>
            </div>
            <div class="left_ads">
                <!-- Something to do-->
            </div>
        </div>

        <div class="top-ads">
            <!-- Something to do-->
        </div>

        <div class="right_ads">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'student/_tipday.html.twig' %}
            {% else %}
                {% include 'student/_rec_regbox.html.twig' %}
            {% endif %}

            {% include 'student/_levelbox.html.twig' %}

            {% include 'student/_wall_fame.html.twig' %}
        </div>

        <div class="content">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}{% else %}
                <div class="login_warring"><a class="close" onclick="jQuery(this).parent().hide()">x</a>{% trans %}You are not logged in. Typing progress will not be saved.{% endtrans %}</div>
            {% endif %}
            <section class="widget_accordion">
                <ul>
                    {% for entity in entities %}
                        <li>
                            <article>
                                <div class="button">
                                    <span>+</span>
                                    <span>-</span>
                                </div>
                                <header>
                                    <a class="lang-course" href="{{ path('tutor_course',{"lang":entity.id}) }}">
                                    {% if app.request.locale == 'mn' %}{{ entity.mnTitle }}{% endif %}
                                    {% if app.request.locale == 'en' %}{{ entity.enTitle }}{% endif %}
                                    <span class="start-link">{% trans %}Start{% endtrans %} »</span></a>
                                </header>
                            </article>
                        </li>
                    {% else %}
                        No users have been found.
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock %}