{% extends 'student.html.twig' %}

{% block title %}Student Log In{% endblock title %}

{% block body_id 'login' %}

{% block body %}

<div class="middlebox">
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <h1 style="text-align:left;">{% trans %}Already have an account?{% endtrans %}</h1>
                <p>{%trans%}Please log in to continue.{%endtrans%}</p>
                {% if error %}
                    <div class="msg-error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}s
                <form action="{{ path('student_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'label.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'label.password'|trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                        </button>
                    </fieldset>
                </form>
            </div>



            <div>
                <h1>{% trans %}Don't have an account?{% endtrans %}</h1>
                <p class="lead">{%trans%}Bicheech.com is free{%endtrans%}!</p>
                <ul class="list-unstyled" style="line-height: 2">
                    <li><span class="fa fa-check fa-lg" aria-hidden="true"></span> {%trans%}No Download, Just type{%endtrans%}</li>
                    <li><span class="fa fa-check fa-lg" aria-hidden="true"></span> {%trans%}Perfect for All Ages{%endtrans%}</li>
                    <li><span class="fa fa-check fa-lg" aria-hidden="true"></span> {%trans%}Bicheech.com's full typing curriculum{%endtrans%}</li>
                    <li><span class="fa fa-check fa-lg" aria-hidden="true"></span> {%trans%}Lessons for All Skill Levels{%endtrans%}</li>
                </ul>
                <p><a href="{{ path('student_register') }}" class="btn btn-info btn-block">{%trans%}Sign Up Now{%endtrans%} »</a></p>

            </div>
            {% if app.request.attributes.get('_locale') == 'mn' %}
                <div class="teacherCallout">Та <strong>багш</strong> уу? Та одоо манай үнэгүй цоо шинэ <a href="{{ path('teacher_login') }}" target="_BLANK">Багш Портал</a> ашиглан өөрийн бүх ангийг удирдаж болно!</div>
            {% else %}
                <div class="teacherCallout">Are you a <strong>teacher</strong>? You can now manage your entire classroom for free using our brand new <a href="{{ path('teacher_login') }}" target="_BLANK">Teacher Portal</a>!</div>
            {% endif %}
        </div>
    </div>
</div>


                


{% endblock %}