<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {# the CSS file lives at "public/css/blog.css" #}
        <link href="{{ asset('css/entertaiment.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}">

    {% block header %}
        <div class="extra-header">
            <div class="container">
                <div class="tw-intro-text">{{'logo.subtitle'|trans}}</div>
                <a href="javascript:void(0);" class="topRetrievedMenu" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                <nav id="TopExtraNav" class="tw-extra-nav">
                    <ol class="tw-nav">
                        <li class="tw-nav-item"><a href="{{ path('student_security_login', {'redirect_to': app.request.pathInfo}) }}">{{'student_login'|trans}}</a></li>
                        <li class="tw-nav-item"><a href="#">Teacher Login</a></li>
                        <li class="tw-nav-item"><a href="#">Select Language</a></li>
                        <li class="tw-nav-item">|</li>
                        <li class="tw-nav-item"><a href="#">Support</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="main-header">
            <div class="container">
                <div class="tw-logo"></div>
                <a href="javascript:void(0);" class="mainRetrievedMenu" onclick="mainFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                <nav id="MainNav" class="tw-main-nav">
                    <ol class="tw-nav">
                        <li class="tw-nav-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="tw-nav-item current-menu-item"><a href="#">Teacher Portal</a></li>
                        <li class="tw-nav-item"><a href="#">Typing Tutor</a></li>
                        <li class="tw-nav-item"><a href="#">Certifications</a></li>
                        <li class="tw-nav-item"><a href="{{ path('blog_index') }}">Blog</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        </div>
        {% endblock %}


        {# Starts content section #}
        <div class="main-content">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {# Ends content section #}


        {% block javascripts %}{% endblock %}
    </body>
</html>
