<!DOCTYPE html>
<html lang="{{app.request.locale}}" xml:lang="{{app.request.locale}}" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Learn to Type | Free Typing Tutor | Typing Course{% endtrans %}{% endblock %} - Bicheech.com</title>
        {% block metas %}{% endblock %}

        {% block stylesheets %}
        {# the CSS file lives at "public/css/blog.css" #}
        <link href="{{ asset('css/student.css') }}" rel="stylesheet"/>
        {% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>

    </head>
    
    <body id="{% block body_id %}{% endblock %}">

    {% block header %}
        <div class="extra-header">
            <div class="container">
                <div class="tw-intro-text">free online typing tutor.</div>
                <a href="javascript:void(0);" class="topRetrievedMenu" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                <nav id="TopExtraNav" class="tw-extra-nav">
                    <ol class="tw-nav">
                        <li class="tw-nav-item"><a href="#">Preferences</a></li>
                        <li class="tw-nav-item">|</li>
                        <li class="tw-nav-item"><a href="#">Language & Keyboard</a></li>
                        <li class="tw-nav-item">|</li>
                        <li class="tw-nav-item"><a href="{{path('blog_index')}}">Blog</a></li>
                        <!--<li class="tw-nav-item"><a href="#">Contact Us</a></li>-->
                        <li class="tw-nav-item">|</li>
                        <li class="tw-nav-item"><a href="#">Hall of Fames</a></li>
                        <li class="tw-nav-item">|</li>
                        <li class="tw-nav-item"><a href="{{ path('student_login') }}">Teacher tools</a></li>
                        <li class="tw-nav-item">|</li>
                        <li class="tw-nav-item"><a href="{{ path('student_login', {'redirect_to': app.request.pathInfo}) }}">Login</a></li>
                        <li class="tw-nav-item"><a href="{{ path('student_register') }}">Sign Up</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="main-header">
            <div class="container">
                <div class="tw-logo"></div>
                <a href="javascript:void(0);" class="mainRetrievedMenu" onclick="mainFunction()">
                    <i class="fa fa-bars"></i>
                </a>
                <nav id="MainNav" class="tw-main-nav">
                    <ol class="tw-nav">
                        <li class="tw-nav-item{% if menu == 1 %} current-menu-item{% endif %}"><a href="{{path('student_index')}}">Course</a></li>
                        <li class="tw-nav-item{% if menu == 2 %} current-menu-item{% endif %}"><a href="#">Games</a></li>
                        <li class="tw-nav-item{% if menu == 3 %} current-menu-item{% endif %}"><a href="#">Tests</a></li>
                        <li class="tw-nav-item{% if menu == 4 %} current-menu-item{% endif %}"><a href="#">Statistics</a></li>
                        <li class="tw-nav-item{% if menu == 5 %} current-menu-item{% endif %}"><a href="#">Skins</a></li>
                        <li class="tw-nav-item"><a href="{{ path('tutor_upgrade') }}" class="removezar{{app.request.locale}}"></a></li>
                    </ol>
                </nav>
            </div>
        </div>
        </div>
        {% endblock %}

        {# Starts content section #}
        <div class="main-content">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        {# Ends content section #}
        
        {# Starts footer section #}
        <div class="footer-content">
            <div class="container">
                Footer section
            </div>
        </div>
        {# Ends footer section #}
        {% block javascripts %}{% endblock %}
    </body>
</html>
